<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
        <h1>Postal Price</h1>
        <p>Selected Weight: <%- weight -%></p>
        <p>Selected Postal Type: <%- type -%></p>
        <p>Resulting Price: <%- price -%></p>
    </div>


</body>
</html>